<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDAP Intern Template</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <header>
        <a href="/">← All Interns</a>
    </header>
    <main>
        <article class="intern-profile">
    <h2 id="about-me">About me</h2>
<p>Write whatever you want here in Markdown…</p>

<h1 id="interns-report">Intern’s report</h1>
<p>This will be your own page!
This can be a <a href="https://www.unimelb.edu.au/mdap">link</a></p>

<p><strong>bold</strong></p>

<p><img src="/interns/template/assets/img/profile-photo.png" alt="MDAP-intern identicon profile photo :)" /></p>

<p>Testing update 2</p>

</article>
    </main>
</body>

</html>